<head>
  <meta charset="UTF-8" />
  <title>Chat</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <h1 style="text-align: center">KKP Kominfotik 2020</h1>

  <div class="fabs">
    <div class="chat">
      <div class="chat_header">
        <div class="chat_option">
          <div class="header_img">
            <img src="../assets/chatbots-logo.png" />
          </div>
          <span id="chat_head">Mandasyeh</span> <br />
          <span class="agent">Robot Pembantu</span>
          <span class="online">(Online)</span>
        </div>
      </div>

      <div id="chat_fullscreen" class="chat_conversion chat_converse">
        <span class="chat_msg_item chat_msg_item_admin">
          <div class="chat_avatar">
            <img src="../assets/chatbots-logo.png" />
          </div>
          Selamat Datang di room Chat Robot. Ada yang bisa dibantu?
        </span>

        <!-- <div class="status2">Just now, Not seen yet</div> -->
      </div>

      <!-- Kirim PEsan -->
      <div class="fab_field">
        <!-- INput text -->
        <input
          type="text"
          id="chatSend"
          name="chat_message"
          placeholder="Send a message"
          class="chat_field chat_message"
        ></input>

        <!-- Tombol kirim -->
        <a id="fab_send" class="fab"><i class="zmdi zmdi-mail-send"></i></a>
      </div>
    </div>

    <!-- Tombol/Logo Bot -->
    <a id="prime" class="fab"><i class="prime zmdi zmdi-comments" actio></i></a>
  </div>

  <script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script
    src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
    integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I="
    crossorigin="anonymous"
  ></script>
  <script src="index.js"></script>
  <!-- <script src="app.js"></script> -->
</body>
